$normal-color: #aeaeaeff;
$fire-color: #ffa766ff;
$water-color: #64c5f7ff;
$grass-color: #9ac30eff;
$electric-color: #e7d400ff;
$ice-color: #60e9f5ff;
$fighting-color: #ee6969ff;
$poison-color: #ab7acaff;
$ground-color: #c8a841ff;
$flying-color: #64a7f1ff;
$psychic-color: #eb7ff4ff;
$bug-color: #51cb5aff;
$rock-color: #fac727ff;
$ghost-color: #756eb4ff;
$dragon-color: #ff8859ff;
$dark-color: #6881d4ff;
$steel-color: #818aa4ff;
$fairy-color: #fc7799ff;

.normal-color {
  color: $normal-color !important;
}

.fire-color {
  color: #ffa766ff !important;
}

.water-color {
  color: #64c5f7ff !important;
}

.grass-color {
  color: $grass-color !important;
}

.electric-color {
  color: $electric-color !important;
}

.ice-color {
  color: #60e9f5ff !important;
}

.fighting-color {
  color: #ee6969ff !important;
}

.poison-color {
  color: #ab7acaff !important;
}

.ground-color {
  color: #c8a841ff !important;
}

.flying-color {
  color: #64a7f1ff !important;
}

.psychic-color {
  color: #eb7ff4ff !important;
}

.bug-color {
  color: #51cb5aff !important;
}

.rock-color {
  color: #fac727ff !important;
}

.ghost-color {
  color: #756eb4ff !important;
}

.dragon-color {
  color: #ff8859ff !important;
}

.dark-color {
  color: #6881d4ff !important;
}

.steel-color {
  color: #818aa4ff !important;
}

.fairy-color {
  color: #fc7799ff !important;
}


.normal-background-color {
  background-color: $normal-color  !important;
}

.fire-background-color {
  background-color: #ffa766ff !important;
}

.water-background-color {
  background-color: #64c5f7ff !important;
}

.grass-background-color {
  background-color: $grass-color  !important;
}

.electric-background-color {
  background-color: $electric-color  !important;
}

.ice-background-color {
  background-color: #60e9f5ff !important;
}

.fighting-background-color {
  background-color: #ee6969ff !important;
}

.poison-background-color {
  background-color: #ab7acaff !important;
}

.ground-background-color {
  background-color: #c8a841ff !important;
}

.flying-background-color {
  background-color: #64a7f1ff !important;
}

.psychic-background-color {
  background-color: #eb7ff4ff !important;
}

.bug-background-color {
  background-color: #51cb5aff !important;
}

.rock-background-color {
  background-color: #fac727ff !important;
}

.ghost-background-color {
  background-color: #756eb4ff !important;
}

.dragon-background-color {
  background-color: #ff8859ff !important;
}

.dark-background-color {
  background-color: #6881d4ff !important;
}

.steel-background-color {
  background-color: #818aa4ff !important;
}

.fairy-background-color {
  background-color: #fc7799ff !important;
}
