@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// @import "../node_modules/nes.css/css/nes.css";
@import "./colors.scss";

@font-face {
  font-family: 'Press Start 2P';
  src: url('./fonts/PressStart2P-Regular.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // TODO: white or gameboy color
  background-color: #cbccaaff;
}

.title {
  background-color: #cbccaaff !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
